auto-save-list/
backups/
elpa/
ido.last
eshell
projectile-bookmarks.eld
smex-items
transient/
recentf
history
bookmarks
custom.el
.mc-lists.el
url/
org-roam.db
.cache/
.lsp-session-v1
eclipse.jdt.ls/
workspace/
*.sqlite
.org-id-locations